# Cache objects
packer_cache/

build
# Dont push the kernels or initrd
kernel/*
initrd*

# ALL logs
*.log

*.iso

# For built boxes
*.img
*.box
*.qcow2
*.vmdk 
*.vhdx
*.raw
*.raw.xz


# These are basically trash files
*.bak
